/add-customer.html
/add-employee.html
/add-expense.html
/add-holiday.html
/add-leave-type.html
/add-leave.html
/add-pricing.html
/add-provident-fund.html
/add-role.html
/add-room.html
/add-salary.html
/add-staff.html
/add-tax.html
/all-customer.html
/all-rooms.html
/all-staff.html
/assets.html
/attendance.html
/blank-page.html
/blog.html
/blog-details.html
/calendar.html
/change-password.html
/chat.html
/compose.html
/create-invoice.html
/edit-asset.html
/edit-blog.html
/edit-customer.html
edit-employee.html
edit-expense.html
edit-holiday.html
edit-invoice.html
edit-leave-type.html
edit-leave.html
edit-pricing.html

edit-provident-fund.html
edit-room.html
edit-salary.html
edit-staff.html
edit-tax.html
email-settings.html
employees.html
error-404.html
error-500.html
expense-reports.html
expenses.html
forgot-password.html
form-basic-inputs.html
form-horizontal.html
form-input-groups.html
form-vertical.html
gallery.html
holidays.html
inbox.html
incoming-call.html
invoice-reports.html
invoice-settings.html
invoice-view.html
invoices.html
leave-type.html
leaves.html
localization.html
lock-screen.html
login.html
mail-veiw.html
notifications-settings.html
payments.html
pricing.html
provident-fund.html
register.html
roles-permissions.html
salary-settings.html
salary-veiw.html
salary.html
settings.html
tables-basic.html
tables-datatables.html
tabs.html
taxes.html
theme-settings.html
typography.html
uikit.html
video-call.html
voice-call.html
img
